html,
body,
header,
.view {
  height: 100%;
  
}

  





.btn .fa {
  margin-left: 3px;
}

.top-nav-collapse {
    background-color: #424f95 !important;
  }

.navbar:not(.top-nav-collapse) {
  background: transparent !important;
}

@media (max-width: 991px) {
    .navbar:not(.top-nav-collapse) {
      background: #424f95 !important;
    }
}

.btn-white {
    color: black !important;
}

h6 {
  line-height: 1.7;
}
#btnn{
    margin-top: 10px;
}
.ancor-btn{
    color: honeydew;
    text-decoration: none;
    
}
.info{
   color: rgb(248, 10, 89);
}
.main-page{
    padding: 5px;
}

